html,
body,
#root {
  background: #fff !important;
  width: 100%;
  height: 100%;
}


.captcha {
  display: flex;
  justify-content: space-around;
}

.code .captchaImg {
  display: inline-block;
  height: 32px;
}

.ant-input-affix-wrapper {
  height: 35px !important;
}

.ant-form-item-control-input-content {
  height: 40px;
}

.ant-pro-form-login-logo>img {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin-left: -10px;
  color: #fff;
}

#login {
  margin-top: 200px;
}

.code {
  height: 32px;
}

.code.loading {
  position: relative;

  &::after {
    content: 'loading...';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 32px;
    color: #fff;
  }
}




.site_wrapper.site_page__not_found {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .site_content__wrapper {
    padding: 0;
    margin: 0;
  }

  .site_content {
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 2;
    padding: 30px;
    text-align: center;
    transform: translate(-50%, 0);
  }

  .not-found-title {
    margin: 20px 0 15px;
   

  }

  .not-found-desc {
    margin: 0 0 30px;
    font-size: 26px;
    text-transform: uppercase;
    color: rgb(118, 131, 143);

    >em {
      font-style: normal;
      color: #ee8145;
    }
  }

  .not-found-btn-gohome {
    margin-left: 30px;
  }
}

.site_home {
  // background: #eee;
}

.mod_home {
  background: white;
  border-radius: 25px;
  margin: 23px;
  padding: 23px;
  border: 1px solid #EBEEF5;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  font-size: 15px;
  font-weight: 500;
  color: rgb(55, 71, 79);
}