.order_box {
  width: 100%;
  height: 100%;
  background: #edf0f1;
  padding: 0 15px;
  overflow: hidden;
}
.order {
  background: #fff;
  width: 100%;
  margin: 15px 0;
  border-radius: 3px;
  padding: 20px;
}
.su {
  display: flex;
  justify-content: space-between;
}
.inp {
  display: flex;
  .ant-form-item {
    margin-right: 20px;
  }
}
.btn {
  button {
    margin-right: 20px;
  }
}
.from {
  margin-bottom: 20px;
  display: flex;
}
.page {
  width: 100%;
  display: flex;
  justify-content: end;
}
.ant-modal-body {
  padding: 0px;
}
.modalBox {
  padding: 30px 20px;
}
.orderListNumber {
  width: 100%;
  line-height: 40px;
  height: 50px;
}
.orderProgress {
  width: 100%;
  height: 80px;
}
.orderStatus {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.order-info {
  width: 100%;
  border-top: 1px solid #e9eaec;
  margin: 50px 0;
  display: flex;
}
.order-info-l {
  width: 50%;
  border-right: 1px solid #e9eaec;
}
.order-info-r {
  width: 50%;
  margin-left: 20px;
}
.lr-title {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Buyer {
  border-top: 1px dashed #e9eaec;
  padding: 10px 0;
  display: flex;
  .icon {
    width: 60px;
  }
}
.Seller {
  border-top: 1px dashed #e9eaec;
  padding: 10px 0;
  display: flex;
  .icon {
    width: 30px;
  }
}

.Buyer {
  margin-right: 20px;
}
.Buyer-info {
  div {
    height: 60px;
  }
}
.fp {
  position: relative;
  span {
    position: absolute;
    left: -30px;
  }
}
.table {
  width: 80%;
  table {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    td {
      border: solid #e9eaec 1px;
    }
  }
}
.item-info {
  padding-left: 80%;
  margin: 25px 0;
}
.infoitem {
  margin-bottom: 20px;
}
