.top {
  width: 100%;
  display: flex;
  height: 50px;
  border: 1px solid rgb(232, 230, 230);
  p {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p:nth-child(1) {
    border-right: 1px solid rgb(232, 230, 230);
  }
}

.container {
  width: 100%;

  .wrap {
    display: flex !important;
    height: 100%;
    width: 100%;
    .header {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(232, 230, 230);
      .ant-form-item {
        margin-top: 30px;
      }
    }
    .wrap-main {
      width: 50%;
      border: 1px solid rgb(232, 230, 230);
      display: flex;
      flex-wrap: wrap;

      .ant-form-item {
        width: 50% !important;
      }
    }
  }
}
