.but {
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 12px;
}
.but:focus,
.but:hover {
  color: #02a1e9;
  border-color: #b3e3f8;
  background-color: #e6f6fd;
}
